.carousel {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}
